<div class="wrapper">
  <h1>Quiz Selection</h1>

  <!--Trying to create quiz selection screen using matdialog, have trouble passing video data to dialog.
  Will work on this if time is available-->
  <mat-card *ngFor="let video of videos">
    <mat-card-title>{{video.name}}</mat-card-title>
    <button mat-raised-button (click)="openVideoDialog()">Start Presentation</button>
  </mat-card>

  <!--Original quiz selection screen-->
  <mat-card class="quiz-select">
    <mat-card-title>DevOps Quiz</mat-card-title>
    <mat-card-content>
      <video controls reload="none" style="width:1000px;"><source src="./assets/presentations/DevOps.mp4"></video>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" [routerLink]="['/quiz']">Start Quiz</button>
    </mat-card-actions>
  </mat-card>  
  <mat-card class="quiz-select">
    <mat-card-title>Angular Quiz</mat-card-title>
    <mat-card-content>
      <video controls reload="none" style="width:1000px;"><source src="./assets/presentations/angular.mp4"></video>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" [routerLink]="['/quiz']">Start Quiz</button>
    </mat-card-actions>
  </mat-card>  
  <mat-card class="quiz-select">
    <mat-card-title>REST Quiz</mat-card-title>
    <mat-card-content>
      <video controls reload="none" style="width:1000px;"><source src="./assets/presentations/REST.mp4"></video>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" [routerLink]="['/quiz']">Start Quiz</button>
    </mat-card-actions>
  </mat-card>  
</div>