<div class="wrapper">
  <!--connection to db-->
  <div>
      <form #quizForm="ngForm">
        
        <span *ngFor="let quiz of quizzes">
        <h1>{{quiz.quizName}} Quiz</h1>
        <p>Quiz ID: {{quiz.quizId}}</p>
        <ul *ngFor="let question of quiz.question, let i = index">
          <li><h2>{{i + 1}}. {{question.questionText}}</h2></li>
          <div *ngFor="let answer of question.answer">
          <mat-radio-group >
            <mat-radio-button [value]="answer.answerText" ><h3>{{answer.answerText}}</h3></mat-radio-button>
            </mat-radio-group>
            </div>
        </ul>
        <button mat-raised-button color="accent" [routerLink]="['/results']">Submit</button>
        </span>
        
      </form>
    </div>

   
      
  