<div class="wrapper">
<h1>Quiz</h1>
<ol class="quiz">
  <h2><li class="questions">DevOps is a methodology that combines which two teams?</li></h2>
    <mat-radio-group class="answers">
      <mat-radio-button class="option" value="1">Compliance and Development</mat-radio-button>
      <mat-radio-button class="option" value="2">Development and Facilities</mat-radio-button>
      <mat-radio-button class="option" value="3">Development and Operations</mat-radio-button>
      <mat-radio-button class="option" value="4">Development and Observation</mat-radio-button>
    </mat-radio-group>
    <h2><li class="questions">DevOps is a methodology that combines which two teams?</li></h2>
    <mat-radio-group class="answers">
      <mat-radio-button class="option" value="1">Compliance and Development</mat-radio-button>
      <mat-radio-button class="option" value="2">Development and Facilities</mat-radio-button>
      <mat-radio-button class="option" value="3">Development and Operations</mat-radio-button>
      <mat-radio-button class="option" value="4">Development and Observation</mat-radio-button>
    </mat-radio-group>
    <h2><li class="questions">DevOps is a methodology that combines which two teams?</li></h2>
    <mat-radio-group class="answers">
      <mat-radio-button class="option" value="1">Compliance and Development</mat-radio-button>
      <mat-radio-button class="option" value="2">Development and Facilities</mat-radio-button>
      <mat-radio-button class="option" value="3">Development and Operations</mat-radio-button>
      <mat-radio-button class="option" value="4">Development and Observation</mat-radio-button>
    </mat-radio-group>
    <h2><li class="questions">DevOps is a methodology that combines which two teams?</li></h2>
    <mat-radio-group class="answers">
      <mat-radio-button class="option" value="1">Compliance and Development</mat-radio-button>
      <mat-radio-button class="option" value="2">Development and Facilities</mat-radio-button>
      <mat-radio-button class="option" value="3">Development and Operations</mat-radio-button>
      <mat-radio-button class="option" value="4">Development and Observation</mat-radio-button>
    </mat-radio-group>
    <h2><li class="questions">DevOps is a methodology that combines which two teams?</li></h2>
    <mat-radio-group class="answers">
      <mat-radio-button class="option" value="1">Compliance and Development</mat-radio-button>
      <mat-radio-button class="option" value="2">Development and Facilities</mat-radio-button>
      <mat-radio-button class="option" value="3">Development and Operations</mat-radio-button>
      <mat-radio-button class="option" value="4">Development and Observation</mat-radio-button>
    </mat-radio-group>
    <h2><li class="questions">DevOps is a methodology that combines which two teams?</li></h2>
    <mat-radio-group class="answers">
      <mat-radio-button class="option" value="1">Compliance and Development</mat-radio-button>
      <mat-radio-button class="option" value="2">Development and Facilities</mat-radio-button>
      <mat-radio-button class="option" value="3">Development and Operations</mat-radio-button>
      <mat-radio-button class="option" value="4">Development and Observation</mat-radio-button>
    </mat-radio-group>
    <h2><li class="questions">DevOps is a methodology that combines which two teams?</li></h2>
    <mat-radio-group class="answers">
      <mat-radio-button class="option" value="1">Compliance and Development</mat-radio-button>
      <mat-radio-button class="option" value="2">Development and Facilities</mat-radio-button>
      <mat-radio-button class="option" value="3">Development and Operations</mat-radio-button>
      <mat-radio-button class="option" value="4">Development and Observation</mat-radio-button>
    </mat-radio-group>
    <h2><li class="questions">DevOps is a methodology that combines which two teams?</li></h2>
    <mat-radio-group class="answers">
      <mat-radio-button class="option" value="1">Compliance and Development</mat-radio-button>
      <mat-radio-button class="option" value="2">Development and Facilities</mat-radio-button>
      <mat-radio-button class="option" value="3">Development and Operations</mat-radio-button>
      <mat-radio-button class="option" value="4">Development and Observation</mat-radio-button>
    </mat-radio-group>
    <h2><li class="questions">DevOps is a methodology that combines which two teams?</li></h2>
    <mat-radio-group class="answers">
      <mat-radio-button class="option" value="1">Compliance and Development</mat-radio-button>
      <mat-radio-button class="option" value="2">Development and Facilities</mat-radio-button>
      <mat-radio-button class="option" value="3">Development and Operations</mat-radio-button>
      <mat-radio-button class="option" value="4">Development and Observation</mat-radio-button>
    </mat-radio-group>
    <h2><li class="questions">DevOps is a methodology that combines which two teams?</li></h2>
    <mat-radio-group class="answers">
      <mat-radio-button class="option" value="1">Compliance and Development</mat-radio-button>
      <mat-radio-button class="option" value="2">Development and Facilities</mat-radio-button>
      <mat-radio-button class="option" value="3">Development and Operations</mat-radio-button>
      <mat-radio-button class="option" value="4">Development and Observation</mat-radio-button>
    </mat-radio-group>
</ol>
<br>
<button mat-raised-button color="accent">Submit</button>
</div>